body {
  background-color: tan;
}

h1 {
  font-size: 60px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 36px;
}
.logo {
  max-width: 400px;
  margin-bottom: 20px;
}
